# --- Boot speed and console tweaks ---
CONFIG_BOOTDELAY=-2
CONFIG_LOG=n

# --- Disable Network subsystem and Allwinner EMAC driver ---
CONFIG_NET=n
CONFIG_CMD_NET=n
CONFIG_CMD_DHCP=n
CONFIG_CMD_NFS=n
CONFIG_CMD_PING=n
CONFIG_SUN8I_EMAC=n
CONFIG_PHYLIB=n
CONFIG_DM_ETH=n

# --- Environment settings ---
CONFIG_ENV_IS_IN_FAT=n
CONFIG_ENV_IS_NOWHERE=y

# --- Disable unused interfaces to save extra time ---
CONFIG_USB=n
CONFIG_CMD_USB=n

# --- Force immediate console readiness ---
CONFIG_CONSOLE_MUX=n

# --- Silencing the output to eliminate serial write blocks ---
CONFIG_SILENT_CONSOLE=y
CONFIG_SYS_DEVICE_NULLDEV=y

# --- Reduce log visibility to zero ---
CONFIG_LOGLEVEL=0
CONFIG_CMD_BOOTSTAGE=n
CONFIG_BOOTSTAGE=n
